@page "/"
@inherits ProductsBase
@using System.Globalization;

@{
	Thread.CurrentThread.CurrentCulture = CultureInfo.CreateSpecificCulture("en-US");
}

<h3>Products</h3>

@if(ProductDTOs == null)
{
	<h3>Loading products....</h3>
}
else
{
	<h3 class="mb-5">Products</h3>

	var productCount = ProductDTOs.Count();

	if (productCount>0)
	{
		const int itemsPerRow = 4;
		var productRowList = new List<ProductDTO>();

		for (int i = 0; i < productCount; i++)
		{
			productRowList = ProductDTOs
								.Skip(i * itemsPerRow)
								.Take(itemsPerRow)
								.ToList();
			<div class="row mt-3">
				<DisplayProducts ProductDTOs="@productRowList"></DisplayProducts>
			</div>
		}
	}
}